html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    max-width: 100vw;
}

 /* Nav bar */

#navbar img{
    width: 80px;
    height: 80px;
}

#navbar a{
    text-decoration: none;
    color: #1c1e53;
    transition: color 0.3s ease;
    position: relative;
}

#navbar a:after{
    content: "";
    height: 2px;
    width: 0%;
    background-color: #7737AB;
    position: absolute;
    left: 0;
    top: 20px;
    transition: 0.5s;
    opacity: 0%;
}

#navbar a:hover{
    color: #7737AB;
}

#navbar a:hover:after{
    width: 100%;
    opacity: 100%;
}


#navbar nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

#navbar li{
    list-style: none;
}

#navbar ul{
    display: flex;
    gap: 40px
}

#navbar button{
    color: #202233;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #202233;
    cursor: pointer;
    transition: all 0.3s ease;
}

#navbar button:hover{
    background-color: #7737AB;
    border-color: #7737AB;
    color: #fff;
}

#navbar button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

/* Main */

#main{
    background-color: #ddf0ff;
    padding: 90px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#main .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

#main h5{
    font-size: 20px;
}

#main .left h3{
    margin-top: 10px;
    font-weight: bold;
    font-size: 46px;
}

#main .left h3 span{
    color: #7737AB;
}

#main .left p{
    color: #202233;
    font-size: 22px;
    margin-top: 20px;
}


#main button{
    margin-top: 1rem;
    color: #fff;
    background-color: #7737AB;
    padding: 14px 24px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

#main button:hover{
    background-color: #EFDBFF;
    border-color: #202233;
    color: #202233;
}

#main .right img{
    width: 500px;
}

/* Skills */

#skills{
    padding: 100px 85px 0;
    margin-bottom: 900px;
}

#skills h5{
    font-size: 20px;
}

#skills h3{
    font-size: 40px;
    margin-top: 20px;
}

#skills .skills-items{
    display: flex;
    margin-top: 70px;
    gap: 30px
}

#skills .skills-items .item{
    background-color: #ddf0ff;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

#skills .skills-items .item:hover{
    border-bottom: 4px solid #7737AB;
}

#skills .skills-items .item .icon{
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

#skills .skills-items .item .icon i{
    font-size: 26px;
    color: #202233;
}

#skills .skills-items .item h4{
    font-size: 18px;
}

#skills .skills-items .item p{
    font-size: 14px;
    margin-top: 20px;
    line-height: 22px;
    color: #202233;
}